<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412379673652-rjngh6klnvag525mj3a3oiounoc7qu9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412379673652-rjngh6klnvag525mj3a3oiounoc7qu9a</string>
	<key>API_KEY</key>
	<string>AIzaSyB9wXjU9vOS-5PhqnJpYm6UyXgNMgS-EnI</string>
	<key>GCM_SENDER_ID</key>
	<string>412379673652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nizo.Diyetteyiz</string>
	<key>PROJECT_ID</key>
	<string>diyetteyiz-cc5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>diyetteyiz-cc5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412379673652:ios:9f7e182940be610eb78661</string>
</dict>
</plist>